
nav {
    display: flex;
    background-color: #3B6087;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    height: 32px;
    width: 100%;
}

.desktop-links {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.join-entry-icon {
    display: flex;
}


/*configurações desktop*/
@media screen and (min-width: 800px) {
    .mobile-menu-icon {
        display: none;
    }
}
/*configurações mobile*/
@media screen and (max-width:800px) {
    .desktop-links {
        display: none;
    }
}